<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{data.title}}</title>
    <link href="css/styles.css" rel="stylesheet" />
  </head>
  <body>
  <H1>hello world</H1>
    {{data.message}}
  <script src="js/script.js"></script>
  </body>
</html>